$blue-color: #1E1C62;
$yellow-color: #FFE254;
$font-parking: Verdana, Geneva, Tahoma, sans-serif;

body{
    font-family: $font-parking;
}

.header{
    display: flex;
    background-color: $blue-color;
    color: $yellow-color;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    background-color: crimson;
    margin-left: 40px;
    width: 60px;
    height: 60px;
}
.header__title{
    background-color: chocolate;
}
.header__menu{
    background-color: cadetblue;
    margin-right: 40px;
    width: 100px;
    font-size: 16PX;
}

.body-area{
    display: flex;
    background-color: #2BEBFF;
    flex-direction: column;
}

.body-area__first{
    background-color: chartreuse;
    height: 450px;
}

.body-area__second{
    background-color:deeppink;
    display: flex;
    flex-direction: column;
}

.bod-area__top{
    background-color: #f0720b;
    height: 300px;
    margin: 20px 150px 20px 150px;
}
.bod-area__middle{
    background-color: #2BEBFF;
    height: 300px;
    margin: 20px 150px 20px 150px;
}
.bod-area__botton{
    background-color: darkkhaki;
    height: 300px;
    margin: 20px 150px 20px 150px;
}


.footer{
    display: flex;
    background-color: $blue-color;
    color: $yellow-color;
    justify-content: center;
    align-items: center;
}

.footer__title{
    background-color: rgb(236, 11, 3);

}