$blue-color: #1E1C62;
$yellow-color: #FFE254;
$font-parking: Verdana, Geneva, Tahoma, sans-serif;



body{
    font-family: $font-parking;
    margin: 0;
}

.main-container{
  margin: 0;
}

.header{
    display: flex;
    background-color: $blue-color;
    color: $yellow-color;
    height: 120px;
    justify-content: space-around;
    align-items: center;
    &__logo{
        margin-left: 10px;
        width: 50px;
        height: 50px;

        background-image: url(../figures/logo_60x60px.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__title{
        //background-color: chocolate;
    }
    &__menu{
        margin-right: 40px;
        width: 50px;
        height: 50px;

        background-image: url(../figures/icono_menu_80x80px.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    &__menu p{
      display: none;
    }
}


.body-area{
    display: flex;
    background-color: #2BEBFF;
    flex-direction: column;

    &__first{
        background-color: chartreuse;
        height: 450px;

        background-image: url(../figures/main_background.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    &__second{
        background-color:deeppink;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__top{
        background-color: #f0720b;
        width: 250px;
        height: auto;
        margin: 20px 60px 20px 60px;
        display: flex;
        flex-direction: column;
    }
    &__middle{
        background-color: #2b39ff;
        width: 250px;
        height: auto;
        margin: 20px 60px 20px 60px;
        display: flex;
        flex-direction: column;
    }
    &__botton{
        background-color: darkkhaki;
        width: 250px;
        height: auto;
        margin: 20px 60px 20px 60px;
        display: flex;
        flex-direction: column;
    }
    &__map{
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
    &__information{}
}

.footer{
    display: flex;
    background-color: $blue-color;
    color: $yellow-color;
    justify-content: center;
    align-items: center;
}

.footer__title{
    background-color: rgb(236, 11, 3);

}

@media (min-width: 576px){
    .header{
        &__logo{
            margin-left: 20px;
            width: 70px;
            height: 70px;

            background-image: url(../figures/logo_80x80px.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        &__menu{
            margin-right: 0px;
            width: 225px;
            height: 70px;
            background-image:none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p{
              width: 100px;
              height: 30px;
              display: block;
              text-align: center;
              align-items: center;
              background-color: $yellow-color;
              border-radius: 10px;            }
        }
    }
}

@media (min-width: 768px){
    .body-area{
        display: flex;
        flex-direction: column;

        &__first{
            background-color: chartreuse;
            height: 450px;
        }

        &__second{
            background-color:deeppink;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

@media (min-width: 1200px){
    .body-area{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;


        &__first{
            width: 50%;
            height: auto;
        }

        &__second{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__top{
          height: 350px;
          width: 600px;
          margin: 5px 5px 5px 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
        }
        &__middle{
          height: 350px;
          width: 600px;
          margin: 5px 5px 5px 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
        }
        &__botton{
          height: 350px;
          width: 600px;
          margin: 5px 5px 5px 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
        }
        &__map{
          width: 300px;
          height: 300px;
          border-radius: 50%;
        }
        &__information{
          width: auto;
        }
    }
}
