$blue-color: #1E1C62;
$yellow-color: #FFE254;
$font-parking: Verdana, Geneva, Tahoma, sans-serif;

body{
    font-family: $font-parking;
}

.header{
    display: flex;
    background-color: $blue-color;
    color: $yellow-color;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    &__logo{
        background-color: crimson;
        margin-left: 10px;
        width: 50px;
        height: 50px;
    }
    
    &__title{
        background-color: chocolate;
    }
    &__menu{
        background-color: cadetblue;
        margin-right: 10px;
        width: 50px;
        height: 50px;
    }
}


.body-area{
    display: flex;
    background-color: #2BEBFF;
    flex-direction: column;

    &__first{
        background-color: chartreuse;
        height: 450px;
    }
    &__second{
        background-color:deeppink;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__top{
        background-color: #f0720b;
        width: 250px;
        height: 250px;
        margin: 20px 60px 20px 60px;
    }
    &__middle{
        background-color: #2b39ff;
        width: 250px;
        height: 250px;
        margin: 20px 60px 20px 60px;
    }
    &__botton{
        background-color: darkkhaki;
        width: 250px;
        height: 250px;
        margin: 20px 60px 20px 60px;
    }
}

.footer{
    display: flex;
    background-color: $blue-color;
    color: $yellow-color;
    justify-content: center;
    align-items: center;
}

.footer__title{
    background-color: rgb(236, 11, 3);

}

@media (min-width: 576px){
    .header{
        &__logo{
            margin-left: 20px;
            width: 70px;
            height: 70px;
            padding-right: 80px;
        }
        &__menu{        
            margin-right: 20px;
            width: 150px;
            height: 70px;
        }
    }
}

@media (min-width: 768px){
    .body-area{
        display: flex;
        flex-direction: column;
    
        &__first{
            background-color: chartreuse;
            height: 450px;
        }

        &__second{
            background-color:deeppink;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

@media (min-width: 1200px){
    .body-area{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    
        &__first{
            width: 50%;
            height: auto;
        }

        &__second{
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        &__top{
            margin: 5px 5px 5px 5px;
        }
        &__middle{
            margin: 5px 5px 5px 5px;
        }
        &__botton{
            margin: 5px 5px 5px 5px;
        }
    }
}