@import '../../App.scss'; // Import global variables

.dayhour{
  border: 1px solid $strongBlue-color;
  border-radius: 10px;
  width: 100%;
  height:auto;
  display: grid;
  grid-template-columns: 220px 220px;
  grid-template-rows: repeat(4,16.6%);
  margin: 0px;
  background-color: $white-color;
  padding: 0px;
  grid-template-areas:
    "titleCell titleCell"
    "searchbuttonCell searchbuttonCell"
    "entradaCell salidaCell"
    "fechainiCell fechafinCell"
    "horainiCell horafinCell"
    ". .";

  label{
    color: $black-color;
    text-align: center;
    margin-top: 10px;
  }
  #titlesearch{
    grid-area: titleCell;
    align-items: center;
    font-size: $body1;
    margin: 10px;

  }

  .search-button{
    grid-area: searchbuttonCell;
    text-align: center;
  }
  #search-input{
    width: 80%;
  }
  #botonSearch{
    border-color: $strongBlue-color;
    border-radius: 5px;
    background: #00B4D8;
    color: $strongBlue-color;
    font-size: $body1;
    margin-left: 10px;
  }
  #botonSearch:hover{
    background: $white-color;
  }

  #entrada{
    grid-area: entradaCell;
    text-align: center;
  }

  #salida{
    grid-area: salidaCell;
    text-align: center;
  }

  #fechaini{
    grid-area: fechainiCell;
  }

  #fechafin{
    grid-area: fechafinCell;
    //grid-row-start: 5;
  }

  #horaini{
    //grid-row-start:3;
    grid-area: horainiCell;
  }

  #horafin{
    grid-area: horafinCell;
  }


  input{
    font-size: 16px;
    height: 30px;
    width: 90%;
    border: 1px solid $blue-color;
    border-radius: 10px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
  }
}
