@import '../../App.scss'; // Import global variables

.container{
  border: 1px solid $strongBlue-color;
  border-radius: 10px;
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6,16.6%);
  margin-left: auto;
  margin-right: auto;
  background-color: $white-color;
  padding: 5px;
  margin: 10px;
  label{
    color: $black-color;
    text-align: center;
    margin-top: 10px;
  }

  #fechafin{
    grid-row-start: 5;
  }

  #horaini{
    grid-row-start:3;
  }

  #salida{
    grid-row-start: 4;
  }

  input{
    font-size: 16px;
    height: 30px;
    width: 40%;
    border: 1px solid $blue-color;
    border-radius: 10px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:441px) and(max-width:540px)  {
  .container{
    width: 90%;
    height: 150px;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 3fr;
  }
  input{
    width:60%;
  }

  #salida{
    grid-column-start: 2;
    grid-row-start: 1;

  }

  #fechaini{
    grid-column-start: 1;
    grid-row-start:2;
  }

  #horaini{
    grid-column-start: 2;
    grid-row-start:2;
  }

  #fechafin{
    grid-column-start: 1;
    grid-row-start: 3;
  }

  #horafin{
    grid-column-start: 2;
    grid-row-start: 3;
  }
}
