body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.main-container {
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1E1C62;
  color: #FFE254;
  height: 120px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background-image: url(../figures/logo_60x60px.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__menu {
  margin-right: 40px;
  width: 50px;
  height: 50px;
  background-image: url(../figures/icono_menu_80x80px.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__menu p {
  display: none;
}

.body-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2BEBFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-area__first {
  background-color: white;
  height: 450px;
  background-image: url(../figures/main_background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.body-area__second {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-area__top {
  background-color: #1E1C62;
  width: 250px;
  height: auto;
  margin: 20px 60px 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
}

.body-area__middle {
  background-color: #2BEBFF;
  width: 250px;
  height: auto;
  margin: 20px 60px 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-area__botton {
  background-color: #2BEBFF;
  width: 250px;
  height: auto;
  margin: 20px 60px 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-area__map {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.body-area__information {
  color: #FFE254;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1E1C62;
  color: #FFE254;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  background-color: #1E1C62;
}

@media (min-width: 576px) {
  .header__logo {
    margin-left: 20px;
    width: 70px;
    height: 70px;
    background-image: url(../figures/logo_80x80px.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .header__menu {
    margin-right: 0px;
    width: 225px;
    height: 70px;
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__menu p {
    width: 100px;
    height: 30px;
    display: block;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FFE254;
    border-radius: 10px;
  }
}

@media (min-width: 768px) {
  .body-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body-area__first {
    background-color: white;
    height: 450px;
  }
  .body-area__second {
    background-color: #E5E5E5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .body-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .body-area__first {
    width: 50%;
    height: auto;
  }
  .body-area__second {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body-area__top {
    height: 350px;
    width: 600px;
    margin: 5px 5px 5px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .body-area__middle {
    height: 350px;
    width: 600px;
    margin: 5px 5px 5px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .body-area__botton {
    height: 350px;
    width: 600px;
    margin: 5px 5px 5px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .body-area__map {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  .body-area__information {
    width: auto;
  }
}
/*# sourceMappingURL=index.css.map */