@font-face {
  font-family: Yantramanav-bold;
  src: url(../styles/Fuentes/Yantramanav/Yantramanav-Bold.ttf);
}
@font-face {
  font-family: Yantramanav-normal;
  src: url(../styles/Fuentes/Yantramanav/Yantramanav-Regular.ttf);
}
body{
  margin: 0px;
}

.todo{
  width: 375px;
}

.head{
  display: flex;
  position: relative;
  height: 83px;
  background-color: rgba(30, 28, 98, 1);
  justify-content: space-around;
  align-items: center;
}
.head__img{
  height: 50px;
  width: 70px;
}
.head__text{
  font-family: yantramanav-bold, cursive;
  color: rgb(255,226, 84);
  font-size: 48px;
}
.login{
  background-color: #C4C4C4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.login__title{
  position: absolute;
  top: 200px;
  font-size: 62px;
  font-family: Yantramanav-normal,cursive;
  margin: auto;
}

.login__formulario{
  display: flex;
  flex-direction: column;
}
.login__email{
  position: absolute;
  top: 350px;
}
.login__botton{
  background-color: #696969;
  position: absolute;
  top: 500px;
}

.confirmacion{
  display: flex;
  height: 83px;
  background-color: rgba(30, 28, 98, 1);
  color: rgb(255,226, 84);
  font-size: 20px;
  justify-content: center;
}
/*
body{
  margin: 0;
  background-color: #C4C4C4;
}
.head{
  display: flex;
  background-color: rgb(30, 28, 98);
  height: 120px;
  position: relative;
}
.head__img{
  height: 85px;
  width: 107px;
  top: 18px;
  left: 67px;
  position: relative;
}
.head__text{
  height: 67px;
  font-family: yantramanav-bold, cursive;
  color: rgb(255,226, 84);
  font-size: 60px;
  position: relative;
  top: 27px;
  left: 273px;
}
.login{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  margin: auto;
  top: 80px;
  height: 342px;
  width: 641px;
  background-color: #989797;
  border-radius: 138px;
  justify-content: center;
  align-items: center;
}
*/
