@import '../../App.scss'; // Import global variables

.container-cities{
  width: 100%;
  text-align: center;
  color: $white-color;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: $headline5;
}
.cities__list{
  color: $light-color;
  text-decoration: none;
}
.cities__list:hover{
  color: $strongBlue-color;
  text-decoration: none;
}

@media(max-width:440px){
  #Bogota{
    display: block;
  }
  #Cali{
    display: block;
  }
  #Medellin{
    display: block;
  }

  #Cartagena{
    display: none;
  }
  #Bucaramanga{
    display: none;
  }
}

@media screen and (min-width: 441px) and (max-width:540px){
  #Bogota{
    display: block;
  }
  #Cali{
    display: block;
  }
  #Medellin{
    display: block;
  }

  #Cartagena{
    display: block;
  }
  #Bucaramanga{
    display: none;
  }
}

@media screen and (min-width: 541px) and (max-width:640px){
  #Bogota{
    display: block;
  }
  #Cali{
    display: block;
  }
  #Medellin{
    display: block;
  }

  #Cartagena{
    display: block;
  }
  #Bucaramanga{
    display: block;
  }
}
/*// Global variables declaration
$strongBlue-color: #03045E;
$blue-color: #00B4D8;
$lightBlue-color: #90E0EF;
$light-color: #CAF0F8;
$white-color:#FFFFFF;
$black-color:#000000;
*/
