@import '../App.scss';

.container-booking{
  background-color: $white-color;
  min-width: 440px;
}

.booking-body{
  display: grid;
  grid-template-columns: 420px;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "summaryCell"
    "accountCell"
    "aditionalCell"
    "payCell";
  justify-content: center;

  &__account{
    grid-area: accountCell;
    background-color: $lightBlue-color;
    border-radius: 10px;
    min-width: 420px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    h5{
      font-size: $headline5;
      margin-left: 10px;
      margin-top: 10px;
    }
    p{
      font-size: $body1;
      margin-left: 10px;
    }
    #p_exit{
      text-align: left;
      margin-left: 10px;
    }
  }
  &__aditional{
    grid-area: aditionalCell;
    background-color: $lightBlue-color;
    border-radius: 10px;
    min-width: 420px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 360px;
    h5{
      font-size: $headline5;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &--inputs{
      display: grid;
      width: auto;
      height: 50px;
      margin-left: 6px;
      margin-right: 6px;
      input{
        font-size: 16px;
        height: 30px;
        width: auto;
        border: 1px solid $blue-color;
        border-radius: 10px;
        margin-top: 20px;
      }
      textarea{
        font-size: 16px;
        height: 120px;
        width: auto;
        border: 1px solid $blue-color;
        border-radius: 10px;
        margin-top: 20px;
      }
    }
  }

  #buttonContinue{
    border-color: $strongBlue-color;
    border-radius: 5px;
    background: $lightBlue-color;
    color: $strongBlue-color;
    font-size: $body1;
    right: 0px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
  }
  #buttonContinue:hover {
    border-color: $strongBlue-color;
    background: $strongBlue-color;
    color: $lightBlue-color;
  }
  &__pay{
    grid-area: payCell;
    background-color: $lightBlue-color;
    border-radius: 10px;
    min-width: 420px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    height: auto;
    h5{
      font-size: $headline5;
      margin-left: 10px;
      margin-top: 10px;
    }
    p{
      font-size: $body1;
      margin-left: 10px;
    }
  }
  &__summary{
    grid-area: summaryCell;
    width: 420px;
    height: 550px;
    margin: 0px;
    margin-top: 10px;
    border: 1px solid $strongBlue-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    h1{
      margin-top: 0px;
      margin-left: 10px;
      margin-bottom: 0px;
      font-size: $headline5;
    }
    &--imagen{
      height: 200px;
      width: 420px;
      img{
        height: 200px;
        width: 420px;
      }
    }
    &--infoParking{
      height: auto;
      h5{
        font-size: $headline5;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
      }
      p{
        margin-left: 10px;
      }
    }
    &--summary{
      background-color: $lightBlue-color;
      height: auto;
      border-radius: 0px 0px 10px 10px;
      h5{
        font-size: $headline5;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
      }
      p{
        margin-left: 10px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .booking-body{
    display: grid;
    grid-template-columns: 500px 50px 420px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "accountCell . summaryCell"
      "aditionalCell . summaryCell"
      "payCell . summaryCell" ;
    justify-content: center;
  }
}
