@import '../App.scss';

.container-home{
  .testes{
    min-width: 440px;
    background-image: url(../figures/background_map_v2.png);
    background-repeat: no-repeat;
    background-position: 70% 70%;
    background-size: cover;
    background-attachment: fixed;
  }
  &__citysearch{
    height: 800px;
    min-width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 180, 216, 0.65);
  }
}
