.form{
  width: 80%;


}

/*
// Global variables declaration
$strongBlue-color: #03045E;
$blue-color: #00B4D8;
$lightBlue-color: #90E0EF;
$light-color: #CAF0F8;
$white-color:#FFFFFF;
$black-color:#000000;
*/
