@import '../../App.scss'; // Import global variables

.container-menu{
  width: 860px;
  position: absolute;
  right: 50px;
  top: 30px;
  margin: 0px;
  font-size: 20px;
  li{
    list-style: none;
  }
  ul{
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  NavLink{
    font-size: 16px;
    color: $white-color
  }
}
.menu__list--inactive{
  color: $light-color;
  text-decoration: none;
}
.menu__list--inactive:hover{
  color: $blue-color;
  text-decoration: none;
}

.burger-shower{
  display:none;
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  background-color: $strongBlue-color;
  transition: 0.5s;
  padding: 0px 0px;
  box-sizing: border-box;
  opacity: 1;
}
#sidebar-menu{
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(to bottom, $strongBlue-color 30%,$blue-color);
  font-size: $headline4;
  color: $light-color;
  &__title{
    border-bottom: 2px solid $light-color;
  }
  h3{
    margin-top: 27.5px;
    margin-bottom: 27.5px;
  }
}

.hamburguer-menu__list{
  margin-top: 50px;
  padding: 0px;
}
.hamburguer__list--inactive{
  margin-left: 0px;
}

#hamburger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  display: none;
  border: 2px solid $strongBlue-color;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
  font-family: 'Cabin', Sans-serif;
  background: linear-gradient(
    to bottom,
    $light-color, $light-color 20%,
    $strongBlue-color 20%, $strongBlue-color 40%,
    $light-color 40%, $light-color 60%,
    $strongBlue-color 60%, $strongBlue-color 80%,
    $light-color 80%, $light-color 100%
  );
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}

#hamburger-input:checked ~ .overlay{
  visibility: visible;
  opacity: 0.4;
}


@media screen and (max-width: 1440px){
  .container-menu{
    display: none;
  }
  #hamburger-menu{
    display: inline;
  }

  .hamburguer__list--inactive{
    color: $light-color;
    text-decoration: none;
  }

  .hamburguer-menu__list li{
    list-style: none;
    margin: 0px;
    height: 100px;
    font-size: $headline5;
  }
}

@media screen and (max-width: 1000px){
  #hamburger-menu #sidebar-menu {
    width: 100%;
  }
}
