@import '../../App.scss'; // Import global variables

.container-menu{
  width: 860px;
  background: $strongBlue-color;
  position: absolute;
  right: 50px;
  top: 30px;
  margin: 0px;
  font-size: $headline5;
  li{
    list-style: none;

  }
  ul{
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  NavLink{
    font-size: 16px;
    color: $white-color
  }
}
.menu__list--inactive{
  color: $light-color;
  text-decoration: none;
}
.menu__list--inactive:hover{
  color: $blue-color;
  text-decoration: none;
}

@media(max-width: 1440px){
  .container-menu{
    display: none;
  }
}
