@import '../../App.scss'; // Import global variables

.container{
  background-color: $strongBlue-color;
  height: 200px;
  display: flex;
  justify-content:space-around;
  min-width: 440px;
  label{
    color: $white-color;
  }
  a{
    color: $blue-color;
  }
  &__icons{
    display: flex;
    justify-content:space-between;
  }
  .imagen{
    width: 20px;
    height: 20px;
  }
}

