// Fonts declaration
@font-face {
  font-family: Oxygen-Bold;
  src: url(./fonts/Oxygen-Bold.ttf);
}
@font-face {
  font-family: Oxygen-Regular;
  src: url(./fonts/Oxygen-Regular.ttf);
}

// Global variables declaration
$strongBlue-color: #03045E;
$blue-color: #00B4D8;
$lightBlue-color: #90E0EF;
$light-color: #CAF0F8;
$white-color:#FFFFFF;
$black-color:#000000;

$headline2: 59px;
$headline3: 48px;
$headline4: 34px;
$headline5: 25px;
$body1: 16px;

.App {
}
