@import '../../App.scss';

.container-create{
  max-width: 550px;
  width: 550px;
  height: 660px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: $blue-color;
  border-radius: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: 70%;
  grid-template-rows: 60px 550px;
  grid-template-areas:
    "titleCell"
    "dataCell";
  &__input{
    grid-area: dataCell;
    width: 90%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-size: $body1;
  }
  &__Button{
    grid-area: buttonCell;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 5px;
    font: $strongBlue-color;
    border-color: $strongBlue-color;
    border-radius: 50px;
    background-color: $white-color;
    text-align: center;
    #reg-parking-out{

    }
    #reg-parking-out:hover {
      text-decoration: none;
    }
  }
  h2{
    grid-area: titleCell;
    font-size: $body1;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }
}
