@import '../../../App.scss';

.container{
  max-width: 440px;
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  //border: 1px solid $strongBlue-color;
  //background-color: $white-color;
  border:1px solid red;
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: 400px;
  grid-template-areas:
    "imagemCell dataCell";
  &__image{
    grid-area: imagemCell;
    margin: 0px;
    width: 110px;
    height: 110px;
    margin-top: 5px;
    margin-left: 5px
  }
  &__input{
    grid-area: dataCell;
    margin: 0px;
    &--qualy{
      display: flex;
      justify-content: space-between;
    }
  }
  h2{
    font-size: $headline5;
    margin: 0px;
  }
}
