body{
    width: 100%;
    background-color: white;
    /*background-image: url("./fondo.jpg");
    background-repeat: no-repeat;
    background-size: 800px 800px;
    background-attachment: fixed;*/

}
.header{
    background-color: #1E1C62;
    height: 40px;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}
#sign-up{
    color: #ffe254;
    text-align: right;
    font-size: 35px;
    margin-right: 40px;
    margin: 0px;
}
#title{
    color: #ffe254;
    text-align: left;
    font-size: 30px;
    margin: 0px;
}

.main{
    width: 60%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-gap: 10px;
}

.main-data{
    display: grid;
    font-size: 18px;
    border: 1px solid blue;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: #c4c4c4;
}

footer{
    height: 40px;
    background-color: #1E1C62;
    text-align: center;
    color: #ffe254;
}
img{
    width: 360px;
    height: 400px;
}
