@import '../../App.scss';

.contPayments{
  p{
    font-size: $headline5;
  }
  &__methods{
    background-color: $white-color;
    border-radius: 10px;
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &--strip{
      width: 80%;
    }
    &--imagenPay{
      width: 20%;
      height: 70%;
    }
  }
}

